@import "tailwindcss";
@import "wowds-ui/styles.css";

body{
    background-color: #EBF4FE;
    padding-top: 160px;
    padding-bottom: 160px;
}
.wrapper{
        gap:120px;
    }


@media(max-width:768px){
    body{
        padding-top: 0px;
        padding-bottom: 55px;
}
    .wrapper{
        gap:28px;
    }
    .title{
        background-color: #ffffff;
    }
}